*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#7ba7cc;

color:#222;

}

/* ---------- HEADER ---------- */

header{

position:fixed;

top:0;

left:0;

right:0;

height:70px;

/* background:#3f75a2; */
background:#203b51;
  
display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

border-bottom:1px solid #ddd;

z-index:1000;

}

.logo{

font-weight:700;

  color:white;

}

nav{

display:flex;

gap:20px;

}

.nav-btn{

background:none;

border:none;

font-size:16px;

cursor:pointer;

padding:8px 12px;

transition:.25s;

color:white;

}

.nav-btn:hover{

color:white;

}

.active{

border-bottom:3px solid #0056b3;

font-weight:600;

}

/* ---------- LAYOUT ---------- */

.container{

display:flex;

margin-top:70px;

}

/* ---------- SIDEBAR ---------- */

aside{

position:fixed;

top:70px;

left:0;

width:270px;

height:calc(100vh - 70px);

background:white;

padding:30px;

border-right:1px solid #ddd;

overflow-y:auto;

}

.profile{

width:170px;

height:170px;

object-fit:cover;

border-radius:50%;

display:block;

margin:auto;

margin-bottom:20px;

}

.icon{

width:30px;

height:30px;

object-fit:contain;

/* border-radius:50%; */

display:block;

}

.iconcolumn {
  float: left;
  width: 20%;
  padding: 5px;
}

.iconrow::after {
  content: "";
  clear: both;
  display: table;
}

aside h2{

text-align:center;

margin-bottom:5px;

}

aside p{

text-align:center;

color:#666;

margin-bottom:25px;

}

.sidebar-links{

display:flex;

flex-direction:column;

gap:14px;

}

.sidebar-links a{

text-decoration:none;

color:#0056b3;

font-weight:500;

}

.sidebar-links a:hover{

text-decoration:underline;

}

/* ---------- MAIN ---------- */

main{

margin-left:270px;

padding:60px;

/* max-width:900px; */

}

main h1{

margin-bottom:20px;

font-size:40px;

}

main h2{

/* margin-top:40px; */

margin-bottom:20px;

}

main p{

line-height:1.8;

margin-bottom:10px;

}


/* ---------- research page stuff ---------- */
.columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
  }

  .column {
      padding: 2px;
      border: 1px solid #ccc;
      border-radius: 2px;
      background-color: #e5e4e2;
  }
      
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

  @media (max-width: 768px) {
      .columns {
          grid-template-columns: 1fr;
      }
  }

/* ---------- MOBILE ---------- */

@media(max-width:900px){

aside{

position:relative;

width:100%;

height:auto;

border-right:none;

}

.container{

display:block;

}

main{

margin-left:0;

padding:75px;

flex-direction:column;
  
height:auto;

}

header{

padding:30px;

flex-direction:column;

height:auto;

}
  
}
  
/* ---------- contact page stuff ---------- */
  /* form{

display:flex;
flex-direction:column;
gap:18px;
max-width:700px;

}

input,
textarea{

padding:14px;

font-size:16px;

border:1px solid #ccc;

border-radius:6px;

font-family:inherit;

}

textarea{

resize:vertical;

}

button{

background:#003366;

color:white;

border:none;

padding:14px;

border-radius:6px;

font-size:16px;

cursor:pointer;

transition:.2s;

}

button:hover{

background:#0b5ed7;

} */
